.badge {
    border-radius: 0.34rem;
    padding: 0.2rem 0.4rem;
    color: rgb(218, 163, 26);
    font-family: Poppins, system-ui, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.19rem;
    letter-spacing: 0rem;
}