.placeholder {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.spinnerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
}
