.purchasesInfo {
    border: 0.1rem solid rgb(237, 242, 247);
    border-radius: 1.57rem;
    background: rgb(255, 255, 255);
    padding: 2.8rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-right: 1rem;
}

.headerInfo {
    display: flex;
    justify-content: space-between;
}

.h3 {
    color: rgb(26, 32, 44);
    font-family: Manrope, system-ui, sans-serif;
    font-size: 1.77rem;
    font-weight: 800;
    line-height: 135%;
    letter-spacing: 0.02rem;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}