.banner {
    position: relative;
    background: rgb(92, 78, 174);
    padding: 3rem 0;
    display: grid;
    gap: 4.13rem;
    grid-auto-flow: column;
    justify-content: center;
    overflow: hidden;
}

.banner > div:first-child {
    padding: 0.5rem 2.5rem;
}

.line1, .line2, .line3, .line4 {
    position: absolute;
    translate: -50% -50%;
}

.line1 {
    top: 52%;
    left: 13%;
}

.line2 {
    top: 52%;
    left: 15%;
}

.line3 {
    top: 50%;
    left: 95%;
}

.line4 {
    top: 50%;
    left: 97%;
}

@media only screen and (max-width: 1024px) {
    .banner {
        gap: 2rem;
        padding: 1.5rem 0;
    }
    .banner > div:first-child {
        padding: 0.5rem;
    }
}
@media only screen and (max-width: 768px) {
    .banner {
        gap: 1rem;
        padding: 1rem;
    }
}
@media only screen and (max-width: 600px) {
    .banner {
        gap: 0.2rem;
        padding: 0.2rem;
    }
}