.mainSectionContainer {
    display: grid;
    grid-template-columns: 43% 50%;
    justify-content: space-between;
    width: 90%;
    margin: 4rem auto 0;
    padding-bottom: 7.5rem;
}

@media only screen and (max-width: 1250px) {
    .mainSectionContainer {
        grid-template-columns: unset;
        grid-auto-rows: 1fr;
        padding-bottom: 4rem;
    }
}
@media only screen and (max-width: 1024px) {
    .mainSectionContainer {
        margin: 3rem auto 0;
        padding-bottom: 3rem;
    }
}
@media only screen and (max-width: 768px) {
    .mainSectionContainer {
        margin: 2rem auto 0;
        padding-bottom: 2rem;
    }
}