.section {
    padding: 14rem 2rem 12rem 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.1rem;
}

.titleContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.h2 {
    padding: 0 3rem;
    align-self: center;
    font-family: Poppins, system-ui, sans-serif;
    font-size: 2.81rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0rem;
    text-align: center;
}

.questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.7rem;
}

@media only screen and (max-width: 1024px) {
    .section {
        padding: 3rem 0;
        gap: 3rem;
    }
}

@media only screen and (max-width: 768px) {
    .section {
        padding: 2rem 0;
        gap: 2rem;
    }
}

@media only screen and (max-width: 450px) {
    .section {
        width: 95%;
        margin: 0 auto;
    }
}