.section {
    width: 100%;
    padding-top: 7.25rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

.h2 {
    padding-left: 1rem;
    font-family: Poppins, system-ui, sans-serif;
    font-size: 2.81rem;
    font-weight: 600;
    line-height: 1.6rem;
    letter-spacing: 0rem;
}

.commentsContainer {
    margin-left: 6.4rem;
    display: grid;
    grid-template-columns: 43% 1fr;
}

.commentsContainer > div:first-child {
    margin-right: 2.9rem;
}