.bannerItem {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0.5rem;
}

.title {
    color: rgb(255, 255, 255);
    font-family: Public Sans, system-ui, sans-serif;
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 3.38rem;
}

.children {
    color: rgb(197, 191, 237);
    font-family: Inter, system-ui, sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.35rem;
}

@media only screen and (max-width: 425px) {
    .title {
        font-size: 1.5rem;
    }

    .children {
        font-size: 0.8rem;
    }

    .bannerItem {
        gap: 0.2rem;
        padding: 0.2rem;
    }
}