.orderCardContainer {
    width: 19.57rem;
    padding: 0.25rem 1rem;
    display: grid;
    grid-template-columns: 25% auto;
    gap: 0.6rem;
    align-items: flex-end;
    border-radius: 0.75rem;
    background: rgb(255, 255, 255);
    box-shadow: 0.37rem 0.46rem 1.23rem 0 rgba(120, 120, 120, 0.2);
}

.orderCardInfo {
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.h4 {
    color: rgb(50, 49, 66);
    font-family: Poppins, system-ui, sans-serif;
    font-size: 1.19rem;
    font-weight: 600;
    line-height: 140%;
}

.time {
    align-self: flex-end;
    color: rgb(172, 173, 185);
    font-family: Poppins, system-ui, sans-serif;
    font-size: 0.82rem;
    font-weight: 500;
    line-height: 140%;
}