.figure {
    height: 34.8rem;
    position: relative;
}

.orderContainer {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
}

.topRightWave {
    position: absolute;
    top: -2rem;
    right: -3rem;
}

.foodContainer {
    position: absolute;
    z-index: 9;
    translate: -50% -50%;
    top: 50%;
    right: -6rem;
}

.foodImage {
    top: 50%;
    left: 50%;
    border: 1.2rem solid rgb(104, 91, 184);
    border-radius: 50%;
    z-index: 0;
}

.arrow {
    position: absolute;
    top: 2rem;
    right: -3rem;
}

.graphContainer {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 27rem;
}

.graph {

}

.bottomLeftWave {
    position: absolute;
    bottom: -2rem;
    left: -2rem;
}


@media only screen and (max-width: 1250px) {
    .figure {
        display: none;
    }
}