.figure {
    height: 34.8rem;
    position: relative;
}

.figure > * {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.figure > div {
    top: 62px;
    left: 435px;
}

.foodImage {
    top: 50%;
    left: 50%;
    border: 1.2rem solid rgb(104, 91, 184);
    border-radius: 50%;
    z-index: 0;
}

.graph {
    top: 472px;
    left: 120px;
}

.bottomLeftWave {
    bottom: -40px;
    left: -16px;
}

.topRightWave {
    top: 0px;
    left: 99%;
}

.arrow {
    top: 176px;
    left: 544px;
}

@media only screen and (max-width: 1250px) {
    .figure {
        display: none;
    }
}