.footer {
    min-width: 100%;
    background-color: rgb(234, 234, 234);
    align-self: center;
}

.footerContainer {
    width: 87%;
    padding-top: 6rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.footerContainer > hr {
    margin-top: 2.3rem;
}

.footerTop, .footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerTop > button {
    scale: 1.3;
}

.footerBottom {
    margin-top: 3.6rem;
    margin-bottom: 5.1rem;
}

.rights {
    color: rgb(153, 153, 153);
    font-family: Inter, system-ui, sans-serif;
    font-size: 1.06rem;
    font-weight: 500;
    line-height: 1.56rem;
    letter-spacing: 0rem;
}

@media only screen and (max-width: 1024px) {
    .footerContainer {
        width: 90%;
        padding-top: 3rem;
    }
    .footerContainer > hr {
        margin-top: 2rem;
    }
    .footerBottom {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .footerTop > button {
        scale: 1;
    }
}

@media only screen and (max-width: 768px) {
    .footerContainer {
        width: 95%;
        padding-top: 2rem;
    }
    .footerContainer > hr {
    }
    .footerBottom {
        margin-bottom: 2rem;
    }
}