.shorts {
    border: 0.08rem solid rgb(244, 244, 246);
    border-radius: 1.88rem;
    box-shadow: 0.37rem 4.46rem 2.23rem 0 rgba(229, 229, 229, 0.7);
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 60% auto;
    transition: ease-in-out 0.3s;
    overflow: hidden;
    transform: translateZ(1px);
    width: 24.75rem;
    height: 18.6rem;
}

.shorts:hover {
    grid-template-rows: 40% auto;
}

.bg {
    overflow: hidden;
}
.bg > img, .bg > div {
    object-position: left bottom;
    object-fit: cover;
    width: 100%;
    height: 130%;
}
.shortsBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0.5rem 2rem 1rem;
}

.badgeContainer {
    display: flex;
    gap: 0.5rem;
}

.infoContainer {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.p {
    color: rgb(142, 151, 166);
    font-family: Manrope, system-ui, sans-serif;
    font-size: 1.21rem;
    font-weight: 400;
    line-height: 1.61rem;
}

.titleLine {
    display: flex;
    width: 100%;
    position: relative;

}
.titleLine a > h3 {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bookMark {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(249, 249, 249);
    border: rgb(108, 95, 188) 0.06rem solid;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    position: absolute;
    top: 50%;
    right: 0;
    translate: 300% -50%;
}

.shorts:hover .bookMark {
    translate: 0 -50%;
}

.bookMark:hover {
    background: rgb(219, 217, 238);
}
