.section {
    width: 90%;
    margin: 7rem auto 0;
}

.container {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 4.57rem;
}

.mobile {
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}