.label {
    color: rgb(50, 49, 66);
    font-family: Poppins, system-ui, sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 140%;
}

.default {
    color: rgb(50, 49, 66);
}

.cancelled {
    color: rgb(241, 83, 78);
}