.link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: ease-in-out 0.3s;
}

.shorts {
    color: rgb(50, 49, 66);
}

.active {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: ease-in-out 0.3s;
    color: rgb(108, 95, 188);
}

.link:hover {
    color: rgb(108, 95, 188);
    opacity: 0.8;
}

.linkP {
    font-family: Inter, system-ui, sans-serif;
    font-size: 1.11rem;
    font-weight: 500;
    line-height: 1.67rem;
}
.header {
    color: rgb(96, 96, 96);
}
.footer {
    color: rgb(153, 153, 153);
}

.link > svg {
    stroke: rgb(96, 96, 96);
}
.linkH3 {
    font-family: Poppins, system-ui, sans-serif;
    font-size: 1.61rem;
    font-weight: 600;
    line-height: 2.62rem;
}

.highlighted {
    border: 0.09rem solid rgb(108, 95, 188);
    border-radius: 6.25rem;
    padding: 0.4rem 1.2rem;
    color: rgb(108, 95, 188);
}

.highlighted:hover {
    background-color: rgb(108, 95, 188);
    color: rgb(255, 255, 255);
    opacity: 1;
}