.button {
    padding: 1.1rem 1.75rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.label {
    font-size: 1rem;
    font-family: Poppins, system-ui, sans-serif;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: capitalize;
    pointer-events: none;
}

.primary {
    background: rgb(108, 95, 188);
    color: rgb(255, 255, 255);
    border: 0.1rem solid rgb(108, 95, 188);
}

.primary > svg {
    stroke: rgb(255, 255, 255);
}

.primary:hover {
    background: rgba(108, 95, 188, 0.8);
}

.inverted {
    background: rgb(255, 255, 255);
    color: rgb(108, 95, 188);
    border: 0.1rem solid rgb(108, 95, 188);
}

.inverted > svg {
    stroke: rgb(108, 95, 188);
}

.inverted:hover {
    background: rgba(108, 95, 188, 0.2);
}


.ghost {
    background: transparent;
    border: transparent 0.1rem solid;
}

.ghost:hover {
    background: rgba(108, 95, 188, 0.2);
    border: 0.1rem solid rgb(108, 95, 188);
}

.button:disabled {
    opacity: 0.2;
    pointer-events: none;
}

.button:active {
    scale: 1.05;
}