.main {
    flex-grow: 1;
    background-color: rgb(249, 249, 249);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 90%;
    margin: 5rem auto;
}
.h2 {
    font-family: Poppins, system-ui,sans-serif;
    font-size: 2.81rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0rem;
}

@media only screen and (max-width: 1024px) {
    .main {
        gap: 3rem;
    }
}

@media only screen and (max-width: 600px) {
    .main {
        gap: 2rem;
    }
}