.section {
    width: 90%;
    margin: 5rem auto 0;
    display: flex;
    flex-direction: column;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    gap: 4.1rem;
}

.h2 {
    font-family: Poppins, system-ui, sans-serif;
    font-size: 2.81rem;
    font-weight: 600;
    line-height: 1.6rem;
    letter-spacing: 0rem;
    align-self: center;
}

.recipesContainer {
    display: flex;
    gap: 1.9rem;
    justify-content: center;
}

.section:has(a) a {
    align-self: flex-end;
}