.section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    gap: 5.1rem;
    padding-right: 1rem;
}

.h2 {
    font-family: Poppins, system-ui, sans-serif;
    font-size: 2.81rem;
    font-weight: 600;
    line-height: 1.6rem;
    align-self: center;
}

.recipesContainer {
    display: flex;
    gap: 1.9rem;
    justify-content: center;
    flex-wrap: wrap;
}

.section:has(a) a {
    align-self: flex-end;
    padding-right: 1rem;
}

.section > hr {
    margin-top: 5rem;
}

@media only screen and (max-width: 1250px) {
    .sectionContainer {
        gap: 3rem;
        padding-right: 0;
    }

    .recipesContainer {
        gap: 1rem;
    }

    .section > hr {
        margin-top: 3rem;
    }
}
@media only screen and (max-width: 768px) {
    .section {
        width: 95%;
    }

    .sectionContainer {
        gap: 2rem;
    }

    .recipesContainer {
        gap: 1rem;
    }

    .section > hr {
        margin-top: 2rem;
    }
}